*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(17,17,158);
    background: linear-gradient(180deg, rgba(17,17,158,1) 34%, rgba(248,249,250,1) 100%);
    background-attachment: fixed;
    
}

.data-form{
    width: 40%;
    height: 80%;
    background-color: #e8eef7;
    margin: 5% auto 10% auto;
    padding: 30px;
    border-radius: 50px;
}
h5{
    padding-top: 10px;
    padding-bottom: 10px;

}