*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(17,17,158);
    background: linear-gradient(180deg, rgba(17,17,158,1) 34%, rgba(248,249,250,1) 100%);
    background-size: auto;
    background-attachment: fixed;
}

.dataUser{
    width: 90%;
    height: 100%;
    background-color: #e8eef7;
    border-radius: 50px;

}

.row{
   padding: 30px;
}